article, aside, details,
figcaption, figure,
footer, header, hgroup,
main, nav, section,
summary { display: block; }


body {
	background: black;
	color: white;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14pt;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-image: url(/dUJluxy-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5em;

}

main {
	
}

h1, h2, h3,
h4, h5, h6 {
	 -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
	 -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
	 -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
	 color: #E2E2E2;
	 margin: 0 0 0.4em 0;
	 font-family: "Open Sans", sans-serif;
	 text-rendering: geometricPrecision;
}

h1 {
	font-size: 3rem;
	margin: 0.67em 0;
}

h2 {
	font-size: 2rem;
	margin: 0.67em 0;
}

p {
	 -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
	 -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
	 -o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
	 margin: 1em 0 1em 0;
	 text-rendering: geometricPrecision;
	 color: #C3C1C5;

}


li {
	margin: 0.4em 4em;
	color: #A0A0A0;
}

pre {
	white-space: pre-wrap;
	margin: 1em 8em;
}

blockquote {
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
	 margin: 1.75em 0 1.75em -2.2em;
	 padding: 0 0 0 1.75em;
	 border-left: #4A4A4A 0.4em solid;
}

a {
	color: #A4A4A4;
	transition: color 0.3s ease;
	margin: 1em;
	text-decoration: none;
	border-bottom: 1px solid #A4A4A4;
}

span {
}

a:hover {
	 color: #ddd;
}

.fa {
	border-bottom: 0px;	
	text-decoration: none;
}

::-moz-selection {
	 background: #D6EDFF;
}

::selection {
	 background: #D6EDFF;
}

.copyright {
	margin-top: 1em;
}

header {
	width: 100%;
	text-align: right;
}

.title {
	margin: 1em;
}

footer {
	margin-top: 3em;
	width: 100%;
	bottom: 0px;
}

.hidden {
	display: none;
}

figure {
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
}

.share {
	float: right;
}

.logo {
	position: relative;
	width: 2em;
	height: 2em;
	top: -2em;
	background-size: cover;
	background-image: url(//www.gravatar.com/avatar/6e28dd2c6a88ba13ac351b79057299f8?s=250&amp;d=mm&amp;r=x);
}
	

.content {
	position: absolute;
	margin-left: 10%;
	margin-right: 10%;
	background: rgba(0,0,0,0.9);
	top: 0px;
	padding: 4em;
	background-attachment: fixed;
	min-height: 100%;	
}	
